/* This is a very grand name for a very "that'll do" approach */
.logo {
  text-transform: uppercase;
  font-size: var(--step-1);

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}
