{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "preact"],
  "settings": {
    // Ref: https://github.com/preactjs/eslint-config-preact/issues/19#issuecomment-997924892
    "jest": { "version": 27 }
  }
}
