---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.notes | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for note in collections.notes | reverse %}
	{% set absoluteNoteUrl %}{{ note.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ note.data.title }}</title>
		<link href="{{ absoluteNoteUrl }}"/>
		<updated>{{ note.date | rssDate }}</updated>
		<id>{{ absoluteNoteUrl }}</id>
		<content type="html">{{ note.templateContent | htmlToAbsoluteUrls(absoluteNoteUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
