---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="About">
  <article class="flow prose">
    <h1>About</h1>
    <p>
      I am a person who writes things, sometimes. This is my unfinished website.
    </p>
    <p>
      Send an email to <a href="mailto:hellohowareyou@mikeallanson.com"
        >hellohowareyou@mikeallanson.com</a
      >.
    </p>
  </article>
</Layout>
