---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("notes")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout>
  <h1>Notes</h1>
  <ol reversed class="notelist">
    {
      posts.map((post) => (
        <li>
          <a href={`/notes/${post.slug}/`}>{post.data.title}</a>
          <FormattedDate date={post.data.date} />
        </li>
      ))
    }
  </ol>
</BaseLayout>
