---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="site-header">
  <h1 class="logo"><a href="/">{SITE_TITLE}</a></h1>
  <ul class="nav text-right" role="list">
    <li class="nav-item"><HeaderLink href="/">Home</HeaderLink></li>
    <li class="nav-item"><HeaderLink href="/about">About</HeaderLink></li>
  </ul>
</header>
