---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Notes</h1>

{% set noteslist = collections.notes  %}
{% set noteslistCounter = collections.notes | length %}
{% include "noteslist.njk" %}
