---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${title || SITE_TITLE} | mikeallanson.com`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <div class="sticky-footer">
      <Header />
      <main class="region wrapper">
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      let isCeiling = true;
      window.addEventListener("wheel", (e) => {
        const delta = e.deltaY;
        if (delta < 0 && !isCeiling) {
          document.documentElement.style.background = "var(--color-primary)";
          isCeiling = true;
        } else if (delta > 0 && isCeiling) {
          document.documentElement.style.background = "var(--color-secondary)";
          isCeiling = false;
        }
      });
    </script>
  </body>
</html>
